*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(15, 26, 39);
}
/* main background */
#main_container{
    background: url(../assets/background/bg_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
#main_container{
    padding: 0;
    margin: 0;
}
/* cover on background */
#bg_top_cover{
    background: rgba(15, 26, 39, 0.2) linear-gradient(to top, rgb(15, 26, 39), rgba(15, 26, 39), rgba(15, 26, 39, 0.938) ,rgba(15, 26, 39, 0.800) ,rgba(15, 26, 39, 0.625));
    background: rgba(15, 26, 39, 0.2) -webkit-linear-gradient(to top, rgb(15, 26, 39), rgba(15, 26, 39), rgba(15, 26, 39, 0.938) ,rgba(15, 26, 39, 0.800) ,rgba(15, 26, 39, 0.625));
    background: rgba(15, 26, 39, 0.2) -o-linear-gradient(to top, rgb(15, 26, 39), rgba(15, 26, 39), rgba(15, 26, 39, 0.938) ,rgba(15, 26, 39, 0.800) ,rgba(15, 26, 39, 0.625));
    background: rgba(15, 26, 39, 0.2) -ms-linear-gradient(to top, rgb(15, 26, 39), rgba(15, 26, 39), rgba(15, 26, 39, 0.938) ,rgba(15, 26, 39, 0.800) ,rgba(15, 26, 39, 0.625));
    height: 100vh;
    overflow: auto;
}
/* flex container styling */
#flex_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.flex_item_2{
    margin-top: 16px;
    height: 55px;
}
.flex_item_3{
    margin: 0;
    padding: 0;
}
/* profile image */
#profile_image{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    transform: translate(0, 30px);
}
#profile_image img{
    width: 150px;
}
#profile_image_title{
    color: #CBD5E1;
    font-family: 'system-ui',-apple-system,'Segoe UI','Roboto','Ubuntu','Cantarell','Noto Sans',sans-serif,'BlinkMacSystemFont','Helvetica Neue','Arial','Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-weight: 1000;
}
#profile_image_title_description{
    color: #CBD5E1;
    font-family: 'system-ui',-apple-system,'Segoe UI','Roboto','Ubuntu','Cantarell','Noto Sans',sans-serif,'BlinkMacSystemFont','Helvetica Neue','Arial','Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-weight: 400px;
    text-align: center;
}